<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,user-scalable=no" />
	<meta name="format-detection" content="telephone=no" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<title>八卦屋(baguwu.com)-购物省钱网站</title>
	<link rel="icon" href="__PUBLIC__/wap/imgs/fav.ico" mce_href="__PUBLIC__/imgs/fav.ico" type="image/x-icon">
	<import type='css' file='wap/css/index'/>
	<import type='js' file='wap/jquery172'/>
</head>
<body style="background:#EDECEA" onload='cc._init()'>
<!-- 头部区块 -->
<div class="header_out">
	<!-- 头部搜索区块 -->
	<div class="top_out_rel" id="top">
		<div class="top_left">
			<p class="logo"><img src="__PUBLIC__/wap/imgs/logo.png" alt=""></p>
		</div>
		<div class="top_center">
			<input type="text" name="keywords" class="s_txt" placeholder="T恤 男 黑色" >
			<input type="submit" class="s_btn" value="">
		</div>
		<!-- 菜单列表 -->
		<div class="top_right">
			<a href="javascript:;" onclick="cc.menu()"><img src="__PUBLIC__/wap/imgs/more.png" alt=""></a>
			<div class="menu">
				<ul>
					<li><a href="">菜单一号</a></li>
					<li><a href="">菜单一号</a></li>
					<li><a href="">菜单一号</a></li>
					<li><a href="">菜单一号</a></li>
					<li><a href="">菜单一号</a></li>
				</ul>
			</div>
		</div>
	</div>
	<!-- 轮播图区块 -->
	<div class="banner_out">
		<ul class="banner">
			<li style="display:block" ><a href=""><img src="__PUBLIC__/wap/imgs/banner_3.jpg" alt=""></a></li>
			<li><a href=""><img src="__PUBLIC__/wap/imgs/banner_2.jpg" alt=""></a></li>
			<li><a href=""><img src="__PUBLIC__/wap/imgs/banner_1.jpg" alt=""></a></li>
		</ul>
		<ol class="banner_nums">
			<li class="current"></li>
			<li></li>
			<li></li>
		</ol>
	</div>
</div>
<!-- 头部区块结束 -->

<!-- 中间商品展示区块 -->
<div class="body_out">
<!-- 	<div class="bd_top">
	<img src="__PUBLIC__/imgs/banner_2.jpg" alt="">
	<img src="__PUBLIC__/imgs/banner_1.jpg" alt="">
</div> -->
	<div class="body">
	
<if condition="$data">	

		<!-- body商品区块 -->
		<div class="bd_right">
		
		<foreach name="data" item="vo" key="key">
		
			<div class="one_out">
				<b class="is_new"></b>
				<div class="one_img" style="overflow:hidden"><a href="http://item.jd.com/1181506101.html"><img src="{$vo.img_url}" alt="{$vo.g_name}"></a></div>
				<p class="title">
					<span>[包邮]</span><a href="">{$vo.g_name}</a>
				</p>
				<div class="price">
					<p class="new_price">
						<b>￥</b><span>{$vo.price}</span>
					</p>
					<p class="old_price">
						<span>￥3.5</span>
					</p>
					<a href="" class="buy">去看看</a>
				</div>
			</div>		
			
		</foreach>
		
		</div>
		<!-- body商品区块结束 -->
</if>		
		
	</div>
</div>
<!-- 中间商品展示区块结束 -->

<!-- 底部区块 -->
<div class="bottom_out">
	
</div>
<!-- 底部区块结束 -->
</body>
<script type="text/javascript">
!function(e) {
	cc = {
		num : 0,
		_init : function() {
			this.topFix();
			this.photoChange();
			this.changeBytime();	
			this.scrolls();
		},
		topFix : function() {
			e(window).scroll(function() {
				if ( e(document).scrollTop()>50 ) {
					e('#top').removeClass().addClass('top_out_fix');
				}else{
					e('#top').removeClass().addClass('top_out_rel');
				}
			})
		},
		photoChange : function() {    // 轮播图
			e('.banner_nums>li').click(function() {
				var num = e(this).index();
				e(this).addClass('current').siblings('li').removeClass('current');
				e('.banner>li').eq(num).fadeIn(500).siblings('li').fadeOut(500);
			})
		},
		changeBytime : function() {  // 轮播图定时轮播
			timer = setInterval(function () {
				e('.banner_nums>li').eq(cc.num).addClass('current').siblings('li').removeClass('current');
				e('.banner>li').eq(cc.num).fadeIn(1500).siblings('li').fadeOut(1500);
				cc.num++;
				if (cc.num>2)cc.num=0;
			},3000)
		},
		menu : function() {
			e('.menu').toggle(500);
		},
		scrolls : function() {   //  无限追加
			var page = 1;
			$(window).scroll(function() {
				// 获得内容总高度
				var main_height = e('.one_out').height()*e('.one_out').length;
				// 获得已经滚动上去的高度
				var scroll_height = e(document).scrollTop();
				// 获得可视区域高度
				var window_height = e(window).height();
				// 计算距离底部的距离
				var bottom = main_height/2-window_height-scroll_height;
				// document.title = bottom;
				if ( bottom<0 ) {
					/*++page;
					e.post('http://127.0.0.1/CodeIgniter-3.0.0/index.php/admin/admin/append',{page:page},function(data) {
						e('.bd_left').append(data.leftStr);
						e('.bd_right').append(data.rightStr)
					},'JSON');*/
				var str = "<div class='one_out'><div class='one_img'><a href=''><img src='http://localhost/heibaiweb/Public/imgs/goods_2.jpg' alt=''></a></div><p class='title'><span>[包邮]</span><a href=''>便携玻璃杯(300ml)</a></p><div class='price'><p class='new_price'><b>￥</b><span>4.9</span></p><p class='old_price'><span>￥16.8</span></p><a href='' class='buy'>去看看</a></div></div>";
					e('.bd_left').append(str);
					e('.bd_right').append(str);
				};

			})
		},
	}
}(window.jQuery);
</script>
</html>