<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,user-scalable=no" />
	<meta name="format-detection" content="telephone=no" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<title>卷猪猪(juanzhuzhu.com)-优惠券折扣直播第一站！每天更新千款，纯人工筛选验货，限时限量特卖，全场1折包邮！</title>
	<meta name="Keywords" content="淘宝优惠券，天猫优惠券，优惠券折扣,9块9包邮,限时特卖,优品折扣,卷猪猪"/>
    <meta name="Description" content="优惠券折扣直播第一站！每天更新千款，纯人工筛选验货，限时限量特卖，全场1折包邮！"/>
	<link rel="icon" href="__PUBLIC__/wap/imgs/fav.ico" mce_href="__PUBLIC__/imgs/fav.ico" type="image/x-icon">
	<import type='css' file='wap/css/index'/>
	<import type='js' file='wap/jquery172'/>
</head>
<body style="background:#EDECEA" onload='cc._init()'>
<!-- 头部区块 -->
<div class="header_out" mid="{:I('mid',1)}" kw="{:I('kw')}">
	<!-- 头部搜索区块 -->
	<div class="top_out_rel" id="top">
		<div class="top_left">
			<p class="logo">&nbsp;&nbsp;<a href="__ROOT__"><img src="__PUBLIC__/wap/imgs/logo.jpg" height="32" alt=""></a></p>
		</div>
	<form action="">	
		<div class="top_center">
			<input type="text" name="kw" class="s_txt" placeholder="T恤 男 黑色" >
			<input type="submit" class="s_btn" value="">
		</div>
	</form>
		<!-- 菜单列表 -->
		<div class="top_right">
			<a href="javascript:;" onclick="cc.menu()"><img src="__PUBLIC__/wap/imgs/more.png" alt=""></a>
			<div class="menu">
				<ul>
				
				<if condition="$menu" >
					<volist name="menu" id="vo">
						<li><a href="{:U('Wap/index',array('mid'=>$key))}">{$vo.name}</a></li>
					</volist>
				</if>
				
				</ul>
			</div>
		</div>
	</div>
	<!-- 轮播图区块 -->
	<div class="banner_out">
		<ul class="banner">
			<li style="display:block" ><a href="https://s.click.taobao.com/t?e=m%3D2%26s%3Dsnc8HsOaatAcQipKwQzePDAVflQIoZepK7Vc7tFgwiFRAdhuF14FMfNIllVMwyqe5x%2BIUlGKNpX7NDlUe4zrD85rL6%2B3ebJGvjgwhljQPRISTh4%2BjuLDMnEs4zbGlStEcSpj5qSCmbA%3D"><img src="__PUBLIC__/wap/imgs/handu.jpeg" alt=""></a></li>
			<li><a href="https://s.click.taobao.com/t?e=m%3D2%26s%3DiT2vICKn9mYcQipKwQzePDAVflQIoZepK7Vc7tFgwiFRAdhuF14FMVF3uJ%2FJRD60J1gyddu7kN%2F7NDlUe4zrD85rL6%2B3ebJGvjgwhljQPRL7hjGohvUgiRE%2BS%2BmISuKycSpj5qSCmbA%3D"><img src="__PUBLIC__/wap/imgs/jinba.jpeg" alt=""></a></li>
			<li><a href="https://s.click.taobao.com/t?e=m%3D2%26s%3D1D%2B0ytKLDUocQipKwQzePDAVflQIoZepK7Vc7tFgwiFRAdhuF14FMXqr%2F2Y6kas%2BRitN3%2FurF3z7NDlUe4zrD85rL6%2B3ebJGvjgwhljQPRLwKLe9b2nHWjRxRM4LWCCixgxdTc00KD8%3D"><img src="__PUBLIC__/wap/imgs/lankou.jpeg" alt=""></a></li>
		</ul>
		<ol class="banner_nums">
			<li class="current"></li>
			<li></li>
			<li></li>
		</ol>
	</div>
</div>
<!-- 头部区块结束 -->

<!-- 中间商品展示区块 -->
<div class="body_out">
<div class="bd_top">
	<div class="text">
         <span class="index" style="padding-top: 3px;line-height: 21px;">{$menu[$_GET['mid']] ? $menu[$_GET['mid']]['name'] : '独家优惠券直播'}&nbsp;&nbsp;</span>
     </div>
</div>
	<div class="body">
	
<if condition="$data">	

		<!-- body商品区块 -->
		<div class="bd_right">
		
		<foreach name="data" item="vo" key="key">
		
			<div class="one_out">
				<b class="is_new"></b>
				<div class="one_img" style="overflow:hidden">
					<a href="{$vo.money_url}">
						<img src="{$vo.img_url}" alt="{$vo.g_name}" style="height:160px;" />
					</a>
				</div>
				<p class="title">
					<span><!-- [包邮] --></span><a href="">{$vo.g_name}</a>
				</p>
				<div class="price">
					<p class="new_price">
						卷后<b>￥</b><span>{$vo.price}</span>
					</p>
					<p class="old_price">
						<span><!-- ￥3.5 --></span>
					</p>
					<a href="{$vo.coupon_url}" class="buy"><if condition="$vo['coupon_money_num']">{:intval($vo['coupon_money_num'])}元卷<else/>去看看</if> </a>
				</div>
			</div>		
			
		</foreach>
		
		</div>
		<!-- body商品区块结束 -->
</if>		
		
	</div>
</div>
<!-- 中间商品展示区块结束 -->

<!-- 底部区块 -->
<div class="bottom_out">
	
</div>
<!-- 底部区块结束 -->

<a href="javascript:scroll(0,0);" class="toTop"><img src="__PUBLIC__/images/top.png" width="33" height="33" /></a>
</body>
<script type="text/javascript">
!function(e) {
	cc = {
		num : 0,
		_init : function() {
			this.topFix();
			this.photoChange();
			this.changeBytime();	
			this.scrolls();
		},
		topFix : function() {
			e(window).scroll(function() {
				if ( e(document).scrollTop()>50 ) {
					e('#top').removeClass().addClass('top_out_fix');
				}else{
					e('#top').removeClass().addClass('top_out_rel');
				}
			})
		},
		photoChange : function() {    // 轮播图
			e('.banner_nums>li').click(function() {
				var num = e(this).index();
				e(this).addClass('current').siblings('li').removeClass('current');
				e('.banner>li').eq(num).fadeIn(500).siblings('li').fadeOut(500);
			})
		},
		changeBytime : function() {  // 轮播图定时轮播
			timer = setInterval(function () {
				e('.banner_nums>li').eq(cc.num).addClass('current').siblings('li').removeClass('current');
				e('.banner>li').eq(cc.num).fadeIn(1500).siblings('li').fadeOut(1500);
				cc.num++;
				if (cc.num>2)cc.num=0;
			},3000)
		},
		menu : function() {
			e('.menu').toggle(500);
		},
		scrolls : function() {   //  无限追加
			var page = 1;
			var mid = $('.header_out').attr('mid');
			var kw = $('.header_out').attr('kw');
			$(window).scroll(function() {
				// 获得内容总高度
				var main_height = e('.one_out').height()*e('.one_out').length;
				// 获得已经滚动上去的高度
				var scroll_height = e(document).scrollTop();
				// 获得可视区域高度
				var window_height = e(window).height();
				// 计算距离底部的距离
				var bottom = main_height/2-window_height-scroll_height;
				// document.title = bottom;
				if ( bottom<0 ) {
					++page;
					e.post("{:U('wap/append')}",{page:page,mid:mid,kw:kw},function(str) {
						e('.bd_right').append(str); 
					},'JSON');
				};

			})
		},
	}
}(window.jQuery);
</script>
</html>