<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>批量导入优惠券</title>
	<style type="text/css">
		*{padding: 0;margin: 0;}
		.box_out{
			width: auto;height: 500px;margin-top: 15px;padding-left: 20px;
		}
		input{cursor: pointer;}
		input[name='submit']{
			width: 75px;height: 35px;display: block;line-height: 35px;margin-top: 15px;background: #2D7BC4;border: 1px solid #dedede;color: #fff;
		}
		select{
			width: 80px;text-align: center;height: 25px;line-height: 25px;display: block;margin-top: 20px;cursor: pointer;
		}
	</style>
</head>
<body>
<div class="box_out">
<form action="" method='post' enctype='multipart/form-data'>
	<input type="file" name='upFile'>
	<input type="submit" value='导入' name='submit'>
</form>
</div>
</body>
</html>